body{
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)),
    url("../../images/volcano.jpg");
    background-size: cover;
    height: 900px;
}
h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.blueBtn {
    background: #337ab7;
    color: white;
    border-color: #337ab7;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}
.pageHeader {
    text-align: center;
    background: transparent;
    color: white;
    font-family: 'Eczar', serif;
}
.intro {
    font-size: 2rem;
   text-align: center;
}