.blogImg {
    margin: 20px;
    height: 250px;
    width: 250px;
<<<<<<< HEAD
=======
    border: solid 5px #CCC;
    background: #ffffff;
    transition: all 0.5s;
    border-radius: 30px;
}
.blogImg:hover {
    transform: scale(1.1);
>>>>>>> d9d33187c5b9b9eb440a6b53d2d65e3f97a0e9ba
}

h1 {
    text-align: center;
}

a {
    text-align: center;
<<<<<<< HEAD
}
=======
    
}
a:hover {
    text-decoration: none;
}
.eventTitle {
    background: black;
    padding: 20px 0px 20px 0px;
    border-radius: 15px;
    margin: 0 auto;
    width: 250px;
}
.background-unfill {
    background: transparent!important;
}
>>>>>>> d9d33187c5b9b9eb440a6b53d2d65e3f97a0e9ba
